@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
:root {
  --accent-clr: #d7fbf9;
  --black-clr: #000000;
  --white-clr: #ffffff;
  --off-white: #f6f6f6;
  --red-clr: #ff5f5f;
  --footer-clr: #f4f8fa;

  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: hsl(0, 0%, 100%);
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #ff5151;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}
html {
  font-family: "Roboto", sans-serif;
}
/* ---------------- */
/*        Reset     */
/* ---------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
li,
figure,
picture {
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Body */
body {
  line-height: 1.5;
}

/* ----------------- */
/* Utility Classes   */
/* ----------------- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
.d-none {
  display: none;
}
.container {
  margin-inline: auto;
  width: min(80rem, 95%);
}

/* ---------- */
/* Header     */
/* ---------- */
nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-size: clamp(2rem, 2.5rem, 4rem);
  text-transform: uppercase;
  font-weight: 800;
}
.nav__logo:hover,
.nav__link:hover {
  color: var(--bs-primary);
}
.nav__list {
  gap: 6rem;
  display: flex;
  align-items: center;
}
.nav__link {
  font-weight: 600;
  color: var(--bs-dark);
  font-size: 1.125rem;
}
.nav__shopping {
  display: flex;
  align-items: cetner;
  gap: 3rem;
}
.nav__search,
.nav__cart,
.nav__hamburger {
  width: 1.5rem;
  aspect-ratio: 1;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 1.5rem;
  cursor: pointer;
}
.nav__search {
  background-image: url(./assets/shared/icon-search.svg);
}
.nav__cart {
  background-image: url(./assets/shared/icon-cart.svg);
}

/* ---------------- */
/* Hero            */
/* ---------------- */
.hero {
  background-color: var(--accent-clr);
  min-height: calc(100vh - 10rem);
  display: flex;
}
.hero__left {
  margin-block: auto;
  padding-left: 8rem;
  width: 50%;
}
.hero__left > * {
  margin-bottom: 0.7rem;
}
.hero__title {
  font-weight: 300;
  font-size: 1.125rem;
}
.hero__subtitle span {
  font-weight: 300;
  display: block;
  font-size: 1.125rem;
}
.hero__subtitle {
  font-size: 3rem;
}
.hero__cta {
  display: block;
  margin-top: 1.5rem;
  width: fit-content;
  color: var(--bs-dark);
  text-transform: uppercase;
  border: 2px solid var(--bs-gray);
  padding: 1rem 2.3rem;
  font-size: 1.25rem;
  border-radius: 5px;
}
.hero__cta:hover {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.hero__right {
  padding-right: 3.75rem;
  margin: auto;
  width: 50%;
}

/* ----------------   */
/* Weekly Top Products*/
/* ----------------   */

.weekly-top {
  margin: 3rem auto;
}
.weekly-top__title {
  text-align: center;
  margin-bottom: 2rem;
}
.weekly-top__products {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  place-items: center;
}
.weekly-top__image {
  margin-bottom: 1.5rem;
}
.weekly-top__details {
  padding: 0 1rem;
}
.weekly-top__name {
  color: var(--bs-dark);
  font-size: 1.25rem;
}
.weekly-top__btn {
  display: inline-block;
  background-color: var(--bs-primary);
  padding: 0.5rem 1rem;
  color: var(--off-white);
  font-weight: 600;
  font-size: 0.9375rem;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
}

/* ----------------   */
/* Featured Products  */
/* ----------------   */
.featured {
  background-color: var(--accent-clr);
  padding: 2rem 3rem;
  margin-bottom: 3rem;
}
.featured-product {
  display: flex;
  background-color: hsl(0 0% 100% / 0.75);
  display: flex;
  align-items: center;
}
.featured-product__left {
  width: 50%;
  padding-left: 4rem;
}
.featured-product__subtitle {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  display: block;
  color: var(--bs-dark);
}
.featured-product__subtitle:hover {
  color: var(--bs-primary);
}
.featured-product__cta {
  color: var(--bs-dark);
  text-transform: uppercase;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid var(--bs-dark);
}
.featured-product__cta:hover {
  color: var(--bs-primary);
}
.featured-product__right {
  width: 50%;
  padding: 1rem 2rem 0 0;
}

/* ---------------- */
/* All Products     */
/* ---------------- */
.all-products__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}
.all-products__image {
  margin-bottom: 1.5rem;
}
.all-products__details {
  padding: 0 1rem;
}
.all-products__btn {
  display: inline-block;
  background-color: var(--bs-primary);
  padding: 0.5rem 1rem;
  color: var(--off-white);
  font-weight: 600;
  font-size: 0.9375rem;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
}
.all-products__title {
  text-align: center;
  margin-bottom: 2rem;
}
/* ------- */
/* Brands */
/* ------ */
.brands {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  background-color: var(--accent-clr);
  margin: 5rem auto;
  padding: 5rem 0;
  scroll-snap-type: x proximity;
}
/* ------- */
/* footer */
/* ------ */
footer{
  background-color: var(--bs-gray-200);
  padding: 3rem 0;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.footer__list {
  padding: 0;
}
.footer__company {
  margin-bottom: 2rem;
  color: var(--bs-dark);
}
.footer__item {
  margin-bottom: 1rem;
}
.footer__link {
  color: var(--bs-dark);
}

/* ---------------- */
/* Media Queries */
/* ---------------- */

@media (max-width: 1250px) {
  .hero__left {
    padding-left: 5rem;
  }
  .hero__subtitle {
    font-size: 2.75rem;
  }
}
@media (max-width: 1024px) {
  .nav__list {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--bs-yellow);
    gap: 2rem;
    padding: min(10rem, 10vh) 2rem;
    margin: 0;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }
  .nav__list[data-visible="true"] {
    transform: translateX(0);
  }
  .nav__item {
    border-bottom: 1px solid var(--bs-gray);
    padding-bottom: 0.5rem;
    width: 100%;
  }
  .nav__hamburger {
    background-image: url(./assets/shared/icon-hamburger.svg);
    display: block;
    z-index: 1000;
  }
  .nav__hamburger[aria-expanded="true"] {
    background-image: url(./assets/shared/icon-close.svg);
  }
  .nav__shopping {
    margin-left: auto;
    margin-right: 2rem;
    gap: 1rem;
  }
  /* Hero */
  .hero__left {
    padding-left: 3.75rem;
  }
  .hero__title,
  .hero__subtitle span {
    font-size: 0.9375rem;
  }
  .hero__subtitle {
    font-size: 2rem;
  }
  /* All Products */
  .all-products__products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .hero {
    min-height: auto;
    padding: 5rem 0;
  }
  .hero__subtitle {
    font-size: 1.8rem;
  }
  .weekly-top__products {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  /* Featured Product */
  .featured-product__subtitle {
    font-size: 2.65rem;
    font-weight: 600;
  }
}
@media (max-width: 766px) {
  .hero {
    flex-direction: column-reverse;
    /* gap: 2rem; */
  }
  .hero__right {
    width: 100%;
    padding: 2rem;
  }
  .hero__left {
    padding-left: 1.5rem;
    width: 100%;
  }
  .hero__cta {
    font-size: 1.125rem;
  }
  /* Weekly Top Products */
  .weekly-top__products {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Featured Product */

  .featured {
    padding: 2rem;
  }
  .featured-product {
    flex-direction: column-reverse;
    padding: 1rem;
  }
  .featured-product__left {
    width: 100%;
    padding-left: 1.5rem;
  }
  .featured-product__subtitle {
    font-size: 2.3rem;
  }
  .featured-product__right {
    width: 100%;
    margin-bottom: 1rem;
  }
  /* All Products */
  .all-products__products {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Footer */
  .footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 35rem) {
  .nav__shopping {
    /* margin-left: auto; */
    gap: 1rem;
  }
}
